<div class="jumbotron jumbotron-fluid bg-cover text-center"
     style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 100%,rgba(255,255,255,0.9) 100%), url(<%= asset_path 'hero1.jpg' %>)">
  <div class="container">
    <h1 class="display-4 text-dark"><%= t('.title') %></h1>
    <h2 class="display-6 text-dark"><%= t('.subtitle') %></h2>
    <p class="lead text-dark"><%= t('.discover_html') %></p>
    <hr class="my-4">
    <p class="lead">
      <%= link_to t('.our_products'), products_path, class: "btn btn-primary btn-lg", role: "button" %>
    </p>
  </div>
</div>
