<div class="tile is-parent is-3">
  <article class="tile is-child box">
    <p class="title is-size-4"><%= product.title %></p>
    <p class="subtitle"><%= product.description %></p>
    <p><%= Product.human_attribute_name(:price) %> : <%= product.price %></p>
    <p><%= Product.human_attribute_name(:packaging) %> : <%= product.packaging %></p>
    <p>
      <%= product.categories.map(&:title).join(', ') %>
    </p>

    <% if product.picture.attached? %>
      <figure class="image">
          <%= image_tag product.picture %>
      </figure>
    <% end %>

    <% if admin_signed_in? %>
    <div class="columns">
      <div class="column has-text-centered">
        <%= link_to t('.edit'), edit_product_path(product), class: "button is-primary is-outlined" %>
      </div>
      <div class="column has-text-centered">
        <%= link_to t('.destroy'), product_path(product), method: :delete, class: "button is-danger is-outlined" %>
      </div>
    </div>
    <% end %>
  </article>
</div>
