<div class="col mb-4">
  <div class="card h-100 bg-light">
    <% if product.picture.attached? %>
      <%= image_tag product.picture, class: "card-img-top", alt: product.title %>
    <% end %>

    <div class="card-body">
      <h5 class="card-title text-dark"><%= product.title %></h5>
      <p class="card-text"><%= product.description %></p>
      <small><%= product.categories.map(&:title).join(', ') %></small>

      <% if admin_signed_in? %>
        <p class="card-text">
          <%= link_to t('.edit'), edit_product_path(product), class: "card-link text-primary" %>
          <%= link_to t('.destroy'), product_path(product), method: :delete, class: "card-link text-danger", "data-confirm" => t('.confirm_destroy', product_name: product.title) %>
        </p>
      <% end %>
    </div>

    <div class="card-footer bg-primary text-light">
      <%= product.price %> € / <%= product.packaging %>
    </div>
  </div>
</div>
