<div class="col mb-4">
  <div class="card h-100 bg-light">
    <% if product.picture.attached? %>
      <%= image_tag(product.picture.variant(resize_to_limit: [500, 500]), class: "card-img-top", alt: product.title) %>
    <% end %>

    <div class="card-body">
      <div class="card-title text-dark d-flex flex-row justify-content-between">
        <h5><%= product.title %></h5>
        <% if product.is_ab_certified %>
          <%= image_tag 'logoab_small', style: "height: 2em;" %>
        <% end %>
      </div>
      <!--h5 class="card-title text-dark"><%= product.title %></h5-->

      <p class="card-text"><%= product.description %></p>

      <!-- Origin / Category -->
      <p class="card-text">
        <small><%= t('.origin') %> : <%= product.origin %></small>
        <% if product.european_category.present? %>
          <small>/ <%= product.european_category %></small>
        <% end %>
        <br />

        <small>
          <%= product.categories.map { |category| link_to_category(category) }.join(', ').html_safe %>
        </small>
      </p>

      <% if admin_signed_in? %>
        <p class="card-text">
          <%= link_to t('.edit'), edit_product_path(product), class: "card-link text-primary" %>
          <%= link_to t('.destroy'), product_path(product), method: :delete, class: "card-link text-danger", "data-confirm" => t('.confirm_destroy', product_name: product.title) %>
        </p>
      <% end %>
    </div>

    <div class="card-footer bg-primary text-light">
      <%= product.price %> € <%= product.packaging %>
    </div>
  </div>
</div>
