<!DOCTYPE html>
<html>
  <head>
    <title><%= t('product_name') %> - <%= t('city') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-dismissible fade show <%= flash_class(key) %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= value %>
      </div>
    <% end %>

    <%= yield %>
  </body>

  <footer class="container">
    <p class="float-right">
      <% if admin_signed_in? %>
        <%= link_to t('.sign_out'), destroy_admin_session_path, method: :delete %>
      <% else %>
        <%= link_to t('.sign_in'), new_admin_session_path %>
      <% end %>
    </p>
    <p>
      <strong>© La Ferme du Vallon</strong> réalisé par François Belle. Tous droits réservés.<br>
      Fait avec <%= link_to 'Ruby on Rails', "https://rubyonrails.org/" %>,
      <%= link_to 'Bootstrap', "https://getbootstrap.com/" %>
      et <%= link_to 'Minty', "https://bootswatch.com/minty/" %>
      sous <%= link_to 'licence MIT', "https://github.com/thomaspark/bootswatch/blob/master/LICENSE" %><br>
    </p>
  </footer>
</html>
