<!DOCTYPE html>
<html>
  <head>
    <title><%= t('product_name') %> - <%= t('city') %></title>

    <meta name="description" content="<%= t('.meta.description') %>">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="French">
    <meta name="author" content="François BELLE">
    <meta name="generator" content="Ruby on Rails / Bootstrap / Minty">

    <!-- OpenGraph meta for social networks -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.lafermeduvallon.net">
    <meta property="og:title" content="<%= t('.meta.opengraph.title') %>">
    <meta property="og:description" content="<%= t('.meta.opengraph.description') %>">
    <meta property="og:image" content="<%= asset_url 'hero1.jpg' %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-dismissible fade show <%= flash_class(key) %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= value %>
      </div>
    <% end %>

    <%= yield %>
  </body>

  <footer class="container">
    <p class="float-right">
      <% if admin_signed_in? %>
        <%= link_to t('.sign_out'), destroy_admin_session_path, method: :delete %>
      <% else %>
        <%= link_to t('.sign_in'), new_admin_session_path %>
      <% end %>
    </p>
    <p>
      <strong>© La Ferme du Vallon</strong> réalisé par François Belle. Tous droits réservés.<br>
      Utilise du code sous <%= link_to 'licence MIT', "https://github.com/thomaspark/bootswatch/blob/master/LICENSE" %>.<br>
    </p>
  </footer>
</html>
